doctype html
html
  head
    title Portfolio
    style
      include ./assets/css/styles.css
  body
    div.header
      block header
    div.container
      block content
    div.footer
      h4 2020
    